name: Build SimpleModDownloader

on:
  push:
  workflow_dispatch:
  pull_request:

permissions:
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64
    steps:
    - uses: actions/checkout@v1
    
    - name: update repo
      run: |
        git config --global --add safe.directory /__w/SimpleModDownloader/SimpleModDownloader/lib/borealis
        git config --global --add safe.directory /__w/SimpleModDownloader/SimpleModDownloader/lib/ini
        git config --global --add safe.directory /__w/SimpleModDownloader/SimpleModDownloader
        git submodule update --init --recursive
        pacman -S switch-sdl2_mixer switch-mpg123
  
    - name: build SimpleModDownloader
      run: | 
        make
      
    - uses: actions/upload-artifact@master
      with:
        name: SimpleModDownloader
        path: SimpleModDownloader.nro
